html {
    scroll-behavior: smooth;
}

body {
    // font-family: $font-family;
    background-image: linear-gradient(to bottom right, $gradient-color-1, $gradient-color-2);
    // background-image: linear-gradient(to right left, $gradient-color-1, $gradient-color-2);
    // background-color: grayscale($color: #000000);
    // background-image: url('../img/background-hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
}

i{
    font-size: large;
    margin-right: 0.3em;
}

nav{
    color: white;
}

