// colors
$primary: #0a273a;
$secondary: #2ecc71;
$gradient-color-2: #0A0A0A;
$gradient-color-1: #2f3241;

$main-color-1: hsl(234, 100%, 63%);        /*#4356FF; */
$main-color-2: #394896;

$navbar-dark-color: #fff;


// typography
// $font-family: 'Roboto', sans-serif !default;
$secondary-font: "Saira";
$primary-font: "Roboto"