// scss/custom.scss

.flag-icon:hover {
    box-shadow: 0 8px 12px rgba(255, 255, 255, 0.5); 
    transition: box-shadow 0.3s ease-in-out; 
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #0a273a;
    background-blend-mode: luminosity;
    background-image: linear-gradient(
        to bottom right, 
        $gradient-color-1, 
        $gradient-color-2);
}
//.navbar-custom
.nav{
    gap: 10rem;
    .nav-link{
        color: $navbar-dark-color;
        font-family: $secondary-font;
        // gap: 4rem;
    }
    .nav-link:hover{
        color: $main-color-1;
    }
    .nav-link.active{
        color: $main-color-1;
    }
}

.hero{
    color: $main-color-1;
    padding: 2rem;
    .hero__content{
        align-items:center;
        justify-content: center;
        h1{
            font-size: 4rem;
            font-family: $secondary-font;
            font-weight: 900;
        }
        h2{
            font-size: 1.25rem;
            font-family: $primary-font;
            font-weight: 100;
            letter-spacing: 1.75rem;
            color: $white-smoke-color;
        }

    }
    .skills {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        color: #fff;
        font-family: $secondary-font;
    }

}

.about{
    padding-top: 4rem;
    h1{
        text-align: center;
        font-family: $secondary-font;
    }
    svg {
        width: 3rem;
        height: auto;
        padding-right: 0.2rem;
    }
    p{
        font-family: $primary-font;
        text-align: justify;
    }
    .content {
        height: 90%;
        display: flex;
        //gap: 20px;
    }
    .content-left {
        flex: 2;
        background-color: transparent;
        padding: 1em 8em ;
    }
    .box-right {
        flex: 1;
        height: 31rem;
        //padding: 20px;
        background-color: transparent;
        border: 1px solid $main-color-1;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        .work_header{
            position: sticky;
            background-color: #1A1A1A;
            top: 0;
            left: 0;
            padding-top: 0;
            margin-top: 0;
            width: 100%;
            z-index: 10;
            h1 {
                padding: 0;
                margin: 0;
                color: $main-color-1;
                font-size: 2rem;
                img{
                    padding-right: 1rem;
                }
            }
        }
        .experience-item {
            display: flex;
            justify-content: space-between; 
            align-items: center; 
            background-color: transparent;
            padding: 10px;
        }
        .experience-icon img {
            width: 50px; 
            height: auto;
        }
        .experience-details {
            flex: 1; 
            padding-left: 20px;
        }
        .experience-details h3 {
            margin: 0;
            font-family: $secondary-font;
            font-size: 1.0rem;
            color: #fff;
        }
        .experience-details p {
            margin: 0;
            font-family: $primary-font;
            font-size: .75rem;
            color: #aaa;
        }
        .experience-dates {
            font-size: .75rem;
            font-family: $secondary-font;
            color: #007bff; 
        }
        .work-footer{
            color: #007bff;
            position: sticky;
            background-color: #1A1A1A;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
            height: 3rem;
            z-index: 10;
            align-items: center;
            a{
                text-decoration: none;
                color: $main-color-1;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            a:hover{
                color: #9da9b0;
            }
            svg{
                padding-left: 1rem;
            }
        }
    }
}
.scrollable-content {
    padding-top: 0;
}

/* Estilizando a barra de rolagem */
.scrollable-content::-webkit-scrollbar {
    width: .25rem;
}
.scrollable-content::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 10px;
}
.scrollable-content::-webkit-scrollbar-track {
    background: #1A1A1A;
}

.masked-image {
  width: 100%;
  height: auto;
  -webkit-mask-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
  
.custom-btn {
    border: 2px solid $main-color-1;
    color: $main-color-1;
    background-color: transparent;
    border-radius: 15px; 
    padding: 0.5rem 2rem; 
    font-size: 1.25rem; 
    transition: all 0.3s ease;
    font-family: $secondary-font;
}

.custom-btn:hover {
    background-color: $main-color-1;
    color: #fff;
}

.contact{
    text-align: center;
    background-color: #1A1A1A;
    color: #fff;
    padding: 3rem 1rem;
    border-radius: 0.625rem;
    font-family: $primary-font;
    .avatar{
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
    .btn-whatsapp{
        color: #25D366;
        border-color: #25D366;
    }
    .btn-whatsapp:hover{
        background-color: #25D366;
        color: white;
    }
    .btn-email{
        color: #007bff;
        border-color: #007bff;
    }
    .btn-email:hover{
        background-color: #007bff;
        color: white;
    }
    h2{
        font-family: $secondary-font;
    }
}